body {background-color: rgb(37, 37, 37);}

#Ima1 {width: 75%; margin-left: 12%;}

#Ima2 {width: 75%; margin-left: 12%;}

#Ima3 {width: 75%; margin-left: 12%;}

#Ima4 {width: 75%; margin-left: 12%;}

h1 {text-align: center; color: white;}

h2 {color: white; font-size: 120%;}

h3 {color: white;}

h4 {color: white; font-size: 120%;}

h5 {color: white;}

h6 {color: white; font-size: 120%;}

h7 {color: white;}

h8 {color: white; font-size: 120%;}

h9 {color: white;}