body {background-color: rgb(37, 37, 37);}

#Ima1 {width: 75%; margin-left: 12%;}

#Ima2 {width: 75%; margin-left: 12%;}

#Ima3 {width: 75%; margin-left: 12%;}

#Ima4 {width: 75%; margin-left: 12%;}

h1 {text-align: center; color: white;}

h2 {color: white; font-size: 160%; font-style: italic;}

h3 {color: white; font-size: 120%;}

h4 {color: white; font-size: 160%; font-style: italic;}

h5 {color: white; font-size: 120%;}

h6 {color: white; font-size: 160%; font-style: italic;}

h7 {color: white; font-size: 120%;}

h8 {color: white; font-size: 160%; text-align: left; font-style: italic;}

h9 {color: white; font-size: 120%;}
